* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;/*tipo te letra*/
    display: flex;/*realiza el cuerpo de flex*/
    margin: 0;
}
/*estilos generales del body*/
    .cartaporteBg{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.lalaBG{
    position: absolute;
    height: 100%;
    width: 100%;
}
.footer{
    position: absolute;
    height: 100%;
    width: 100%;
}

.footerLala{
    position: absolute;
    width: 20%;
    height: 20%;
    bottom: 0;
    padding: 0;
    margin-left: 0%;
    z-index: 5;
}

.headerLala{
    position: absolute;
    width: 100%;
    top: 0;
    padding: 0;
    margin-left: 0%;
    height: 15%;
}

.user-info{
    opacity: 1;
    position: absolute;
    width: 20%;
    height: 55%;
    bottom: 0;
    left: 0;
    z-index: 3; 

 }

 .userName{
    position: absolute;
    bottom: 18%;
    left: 7%;
    z-index: 5;
}

.logo-lala{
    opacity: 1;
    position: absolute;
    width: 6%;
    height: 10%;
    top: 40%;
    left: 15%;
    z-index: 5;
}

.button-img{
    position: absolute;
    width: 15%;
    height: 20%;
    z-index: 5;
    top: 20%;
    left: 1%;
} 

.user-icon{
    opacity: 1;
    position: absolute;
    width: 10%;
    left: 4%;
    top: 50%;
    z-index: 5; 
     }

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 20px; /* Espaciado entre elementos */
    position: absolute;
    z-index: 5;
    left: 40%;
    margin-top: 10%;
  }
  
  form .form-group {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  

  
  form input[type="submit"] {
    grid-column: 1 / -1; /* Botón ocupa ambas columnas */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    form {
      grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }
  
    form input[type="submit"] {
      grid-column: 1 / 2; /* Botón ocupa una sola columna */
    }
  }
  

/* Estilo de los inputs */
.container input {
    width: 100%;
    padding: 10px;
    border-radius: 15px; /* Bordes redondeados */
    border: 5px solid #333; /* Grosor y color del borde */
    font-size: 14px;
    outline: none;
    margin-bottom: 15px;
    background: #fff; /* Fondo blanco dentro del input */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Sombras */
} 
 
.form-column input{
    width: 30%;
    padding: 10px;
    border-radius: 15px; /* Bordes redondeados */
    border: 5px solid #333; /* Grosor y color del borde */
    font-size: 14px;
    outline: none;
    margin-bottom: 15px;
    background: #fff; /* Fondo blanco dentro del input */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Sombras */ 
}


/*estilos de los textos de estatus en el sistema*/
.headerText{ 
    position: absolute;
    top: 3%;
    margin-left: 70%;
    color: #eee;
}
.datetimeText{
    bottom: 3%;
    color: #eee;
    position: absolute;
    z-index: 5;
    left: 2%;
}

.footerText{
    position: absolute;
    top: 6%;
    left: 5%;
    z-index: 5;   
    color: #eee; 
}
.ip-server{
    position: absolute;
    top: 8%;
    margin-left: 70%;
    color: #eee; 
}

/*iconos de operacion con la base de datos*/
.icon-section{
    position: absolute;
    right: 20px; /* Asegura que estén hacia el lado derecho */
    top: 50%; /* Posición vertical */
    display: flex;
    flex-direction: column; /* Coloca los íconos en una columna */
    align-items: center; /* Centra los íconos horizontalmente */
    gap: 10px; /* Espaciado entre íconos */
    transform: translateY(-50%); /* Centra verticalmente */

}

.icon-section img{
width: 10vh;
height: 10vh;
cursor: pointer; /* Cambia el cursor al pasar el mouse */
transition: transform 0.2s ease; /* Efecto visual al interactuar */
}

.icon-section img:hover {
    transform: scale(1.1); /* Agranda el ícono al pasar el mouse */
}
